/* rgb 코드는 개발용으로 추후에 제거해야 합니다. */

/* --------reset CSS-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f9f9f9;
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar footer';
  grid-template-columns: 0 1fr; /* 사이드바와 메인의 너비 비율 조정합니다. */
  grid-template-rows: 9vh 1fr 4vh; /* 헤더, 메인, 푸터의 높이를 설정합니다. */
  min-height: 100vh;
  transition: grid-template-columns 1s ease-in-out;
}

body.reduce {
  grid-template-columns: 1fr 3fr; /* 햄버거 메뉴 클릭 시 토글됩니다. */
}

/* --------헤더-------- */
#header-container {
  grid-area: header;
  background-color: #b2d8b6;
}

.navbar {
  display: flex;
}

.menu {
  display: flex;
}

.menu-item > a {
  text-decoration: none;
}

/* --------사이드바-------- */
#sidebar-container {
  grid-area: sidebar;
  transform: translateX(-100%); /* 초기에 사이드바를 숨깁니다. */
  transition: transform 0.5s ease-in-out;
  background-color: rgb(40, 204, 229);
}

#sidebar-container.show {
  transform: translateX(0%); /* 햄버거 메뉴 클릭 시 토글됩니다. */
}

/* --------메인-------- */
#section-container {
  grid-area: main;
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 10vh;
  border: 1px solid rgb(0, 13, 255);
}

.qa-container .sim-container {
  border: 1px solid rgb(154, 154, 43);
}

.input-container {
  border: 3px solid rgb(40, 204, 229);
}

.progressbar {
  width: 380px;
  height: 21px;
  background-color: #e9e9e9;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: #b2d8b6;
  border-radius: 10px;
  transition: width 0.5s;
}

/* --------푸터-------- */
#footer-container {
  grid-area: footer;
  border: 1px solid rgb(220, 11, 11);
}

.footer-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
